.header-container{
    display: flex;
    flex-direction: row;
    margin: 0 80px 0 80px;
    gap: 232px;
}

.logo{
    color: #FF7F74;
    margin: 25px 75px;
    font-weight: 700;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    line-height: 29px;
    cursor: pointer;
}

.navbar{
    display: flex;
    flex-direction: row;
    gap: 62px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FF7F74;
}

.nav-item-active{
    text-decoration: underline;
}

.sign-btn{
    background-color: #FF7F74;
    color: #fff;
    margin: 25px 75px;
    width: 84px;
    height: 35px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    border-radius: 5px;
}


.main-container{
    margin: 0 80px 0 80px;
}

/* Home page */
.content-1{
    margin: 20px 425px 20px 155px;
    border-radius: 10px;
    background: #FF7F74;
    height: 253px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding:0 50px 0 50px;

    transition: 0.6s;
}

.content-1:hover{
    background: #CEE3FE; 
}

.content-1:hover .block-2 button{
    background: #FF7F74;
}

.block-1{
    margin: 0 0 0 23px;
    height: 100%;
}

.block-1 img{
    width: 288px;
    height: 253px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.block-2{
    padding: 0 77px 0 0;
}

.block-2 p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
}

.block-2 button{
    background: #CEE3FE;
    border-radius: 5px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;

    width: 157px;
    height: 38px;

    margin: 20px 0 0 70px;

    transition: 0.3s;
}

.block-2 button:hover{
    color:#fff;
}

.content-2{
    margin: 20px 425px 20px 155px;

    transition: 0.6s;
}

.content-2 p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
}

.card-hit{
    display:flex;
    justify-content: space-between;

    margin: 15px 0 0 0;
    padding: 0 45px 0 45px;
}

.hit{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    border-radius: 5px;

    width: 300px;

    padding: 20px;
    
    transition: 0.4s;
}

.hit:hover{
    transform: translateY(-3%);
}

.hit .name{ 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

.cont{
    display: flex;
    justify-content: space-between;
}

.type .price{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;

    color: #8E8E8E;
}

.type .value{  
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;

    color: #000000;
}

.adder{
    padding: 10px 0 0 0;
}

.adder button{
    background: #CEE3FE;
    width: 28px;
    height: 28px;
    border-radius: 5px;

    align-items: center;
    text-align: center;
    padding: 0 0 3px 0;

    font-weight: 900;
    color: #fff;

    transition: 0.3s;
}

.adder button:hover{
    background: #FF7F74;
}

/* About page */
.about{
    padding-left: 165px;
    padding-bottom: 20px;
}
.h2, h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 127, 116, 0.8);
}

.about_text{
    background-color: rgba(255, 127, 116, 0.6);
    margin: 0 160px 50px 160px;
    width: 1030px;
    padding: 15px;
    border-radius: 20px;
}
.text_in p{
    margin: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.cards{
    margin: 0 230px 30px 160px;
    display: flex;
    justify-content: space-between;
}

.card p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #000000;
}

.card{
    padding: 0 100px 0 0;
}

.card h2{
    margin-bottom: 10px;
}

.brand{
    margin: 20px 360px 0 160px;
}

.brand_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.brands{
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px 55px 0 55px;
    width: 32%;
    height: 180px;
    transition:  0.5s;
}
.brands:hover{
    border: 3px solid rgba(255, 127, 116, 0.8);
}
